menu "Qualcomm Technologies, Inc. Charger and Fuel Gauge support"

config QPNP_FG_GEN4
        tristate "QPNP GEN4 fuel gauge driver"
        depends on QPNP_SMB5_NABU
        help
          Say Y here to enable the GEN4 Fuel Gauge driver. This adds support
          for battery fuel gauging and state of charge of battery connected to
          the device that has QTI PMICs like PM8150B. The state of charge is
          reported through a BMS power supply property and also sends uevents
          when the capacity is updated.

config QPNP_SMB5_NABU
        tristate "SMB5 Battery Charger"
        depends on MFD_SPMI_PMIC
        help
          Say Y to enables support for the SMB5 charging peripheral.
          The QPNP SMB5 charger driver supports the charger peripheral
          present in the chip.
          The power supply framework is used to communicate battery and
          usb properties to userspace and other driver consumers such
          as fuel gauge, USB, and USB-PD.
          VBUS and VCONN regulators are registered for supporting OTG,
          and powered Type-C cables respectively.

endmenu
